- var controllerName = ui.controller.name ? ui.controller.name : ui.controller;
- var formName = 'mainForm';
- var itemName = 'vulpejs.item';
unless input.style
  - input.style = {'class':'form-control'};
if ui.main
  if ui.main.form && ui.main.form.name
    - formName = ui.main.form.name;
  if ui.main.item && ui.main.item.name
    - itemName = ui.main.item.name;
else 
  if ui.form && ui.form.name
    - formName = ui.form.name;
  if ui.item && ui.item.name
    - itemName = ui.item.name;

unless input.model
  - input.model = input.name;

if input.type === 'timer' && input.startTime
  - input.model = input.startTime;

- var ngModel = itemName + '.' + input.model;
if input.alias
  - ngModel = input.alias + '.' + input.model;

unless input.id
  - input.id = controllerName.toLowerCase() + '-' + input.name.replace(/\./g, '-');

unless input.autofocus
  - input.autofocus = false;

unless input.required
  - input.required = false;

unless input.validate
  - input.validate = '';

unless input.validateWatch
  - input.validateWatch = '';

unless input.validateMessage
  - input.validateMessage = '';

if input.type !== 'show' && input.type !== 'timer'
  unless input.style['class']
    - input.style['class'] = 'form-control';

- var append = '';
- var divAppend = '';
- var showAppend = '';
- var hideAppend = '';
- var divClass = 'form-group col-lg-12';

if input.mask
  if typeof input.mask === 'string'
    - append += (append.length === 0 ? '' : '~') + input.mask;
  else
    - append += (append.length === 0 ? '' : '~') + 'ui-mask^' + input.mask.pattern;

if input.autofocus
  - append += (append.length === 0 ? '' : '~') + 'autofocus';

if input.case
  - input.case = input.case.toLowerCase();
  if input.case === 'lower'
    - append += (append.length === 0 ? '' : '~') + 'lowercase';
  if input.case === 'upper'
    - append += (append.length === 0 ? '' : '~') + 'uppercase';

if input.capitalize
  - input.capitalize = input.capitalize.toLowerCase();
  if input.capitalize === 'all'
    - append += (append.length === 0 ? '' : '~') + 'capitalize';
  if input.capitalize === 'first'
    - append += (append.length === 0 ? '' : '~') + 'capitalize-first';

if input.only
  - input.only = input.only.toLowerCase();
  if input.only === 'numeric'
    - append += (append.length === 0 ? '' : '~') + 'only-numbers';

if input.required
  if typeof input.required === 'string'
    - append += (append.length === 0 ? '' : '~') + 'ng-required^' + input.requiredIf;
  else
    - append += (append.length === 0 ? '' : '~') + 'required';
 
if input.type === 'textarea'
  unless input.rows
    - input.rows = 2;
  - append += (append.length === 0 ? '' : '~') + 'rows^' + input.rows;

if input.show
  - divAppend += (divAppend.length === 0 ? '' : '~') + 'ng-if^' + input.show;
  - divClass += ' slide-down';

if input.hide
  - divAppend += (divAppend.length === 0 ? '' : '~') + 'ng-hide^' + input.hide;
  - divClass += ' slide-down';

if input.readonly
  - hideAppend += (append.length === 0 ? '' : '~') + 'ng-cloak';
  - hideAppend += (append.length === 0 ? '' : '~') + 'ng-hide^' + input.readonly;
  - showAppend += (append.length === 0 ? '' : '~') + 'ng-cloak';
  - showAppend += (append.length === 0 ? '' : '~') + 'ng-show^' + input.readonly;
  if input.type !== 'star-rating'
    - append += (append.length === 0 ? '' : '~') + 'ng-hide^' + input.readonly;

if input.validate
  if input.validate.expression
    - append += (append.length === 0 ? '' : '~') + 'ui-validate^' + input.validate.expression;
  if input.validate.watch
    - append += (append.length === 0 ? '' : '~') + 'ui-validate-watch^' + input.validate.watch;

if input.on
  if input.on.blur
    - append += (append.length === 0 ? '' : '~') + 'ng-blur^' + input.on.blur;
  if input.on.change
    - append += (append.length === 0 ? '' : '~') + 'ng-change^' + input.on.change;
  if input.on.click
    - append += (append.length === 0 ? '' : '~') + 'ng-click^' + input.on.click;
else if input.items
  - append += (append.length === 0 ? '' : '~') + "ng-change^vulpejs.ui.on.change({type: 'SELECT', name: '" + input.name + "', items: '" + input.items.name + "', value: '" + input.items.value + "', label: '" + input.items.label + "'})";

if input.typeahead && input.typeahead.on && input.typeahead.on.select
  if input.typeahead.on.select.indexOf('=') !== -1
    - var parts = input.typeahead.on.select.split('=');
    - var onSelect = "vulpejs.ui.on.select({type: 'TYPEAHEAD', rootProperty:'" + parts[0] + "', item: $item, itemProperty: '" + parts[1] + "'})";
    - append += (append.length === 0 ? '' : '~') + 'typeahead-on-select^' + onSelect;
  else
    - append += (append.length === 0 ? '' : '~') + 'typeahead-on-select^' + input.typeahead.on.select;
  
if input.toggle
  - append += (append.length === 0 ? '' : '~') + 'toggle-switch';
  - append += (append.length === 0 ? '' : '~') + 'model^' + ngModel;
  if input.toggle.on
    - append += (append.length === 0 ? '' : '~') + 'on-label^' + __(input.toggle.on);
  if input.toggle.off
    - append += (append.length === 0 ? '' : '~') + 'off-label^' + __(input.toggle.off);
  if input.toggle.knob
    - append += (append.length === 0 ? '' : '~') + 'knob-label^' + __(input.toggle.knob);
  if input.style['class'] === 'form-control'
    - input.style['class'] = '';
else
  - append += (append.length === 0 ? '' : '~') + 'ng-model^' + ngModel;
  if input.type === 'checkbox' || input.type === 'group'
    - input.style['class'] = '';

- var label = __(input.label)

if !input.mask || !input.mask.pattern
  - append += (append.length === 0 ? '' : '~') + 'placeholder^' + label;

- var divNgClass = "{'has-error': " + formName + "." + input.name + ".$invalid && vulpejs.ui.form.submitted}";

if input.readonly
  - divNgClass = "{'has-error': " + formName + "." + input.name + ".$invalid && vulpejs.ui.form.submitted, 'col-lg-3': " + input.readonly + "}";

if input.type === 'show' || input.type === 'timer'
  - divNgClass = '';
  if input.style['class']
    - divClass = input.style['class'];

div(class="#{divClass}" ng-class="#{divNgClass}" append=divAppend)
  label.control-label(for=input.id)=label
  if input.type === 'checkbox' || input.type === 'group'
    br
  if input.type === 'textarea'
    if input.readonly
      br
      span {{#{ngModel}}}
    else
      textarea(class=input.style['class'] name=input.name id=input.id append=append)
  else if input.type === 'editor'
    text-angular(name=input.name id=input.id append=append)
  else if input.type === 'image-uploader'
    div(id=input.id class=input.style['class'])
     - var emptyImage = ngModel;
     include ../flow-uploader/image
  else if input.type === 'file-uploader'
    div(id=input.id)
     include ../flow-uploader/file
  else if input.type === 'select'
    if input.multi
      unless input.maxHeight
        - input.maxHeight = '150px';
      br
      div(isteven-multi-select input-model=input.multi.items output-model=ngModel button-label=input.multi.label.button item-label=input.multi.label.item tick-property=input.multi.tickProperty translation="multiSelectTranslation" max-height=input.maxHeight)
    else
      select(class=input.style['class'] name=input.name id=input.id append=append)
        if input.options
          each option in input.options
            option(value=option.value)=__(option.label)
        if input.items
          unless input.items.filter
            - input.items.filter = '';
          option(ng-repeat='option in vulpejs.#{input.items.name}#{input.items.filter}' value="{{option.#{input.items.value}}}") {{option.#{input.items.label}}}
  else if input.type === 'group'
    each option in input.options
      - var model = "vulpejs.group['" + input.name + option.value + "']";
      div(toggle-switch class=input.style['class'] name=input.name model=model id=input.id knob-label=__(option.knob) on-label=__('Yes') off-label=__('No') ng-click="vulpejs.ui.on.toggle.#{input.name}(#{model}, #{option.value});" append=append)
      br
  else if input.type === 'show'
    unless input.config
      br
      if input.i18n
        |{{#{ngModel}|i18n}}
      else if input.filter
        |{{#{ngModel}|#{input.filter}}}
      else
        |{{#{ngModel}}}
    if input.config
      .well
        div
          if input.config.type === 'TEMPLATE'
            div(ng-repeat="show in #{ngModel}")
              span !{input.config.template}
          else if input.config.type === 'ARRAY'
            unless input.config.separator
            div(ng-repeat="show in #{ngModel}")
              div
                each property in input.config.properties
                  - var label = __(property.label);
                  label=label
                  br
                  if property.filter
                    span {{show.#{property.value}|#{property.filter}}}
                  else
                    span {{show.#{property.value}}}
                  br
              hr
  else if input.type === 'timer'
    br
    unless input.format
      - input.format = '{{days}}d {{hhours}}h {{mminutes}}m {{sseconds}}s'
    if input.startTime
      timer(interval="1000" start-time="#{ngModel}") #{input.format}
    else
      timer(interval="1000") #{input.format}
  else if input.type === 'star-rating'
    br
    unless input.max
      - input.max = 5;
    unless input.on
      - input.on = {select: ''};
    unless input.on.select
      - input.on.select = '';
    unless input.readonly
      - input.readonly = 'false';
    div(star-rating max=input.max readonly="#{input.readonly}" on-select=input.on.select append=append)
  else if input.type === 'range-slider'
    unless input.preventValues
      - input.preventValues = true;
    unless input.attachValues
      - input.attachValues = true;
      //attach-handle-values=input.attachValues
    unless input.step
      - input.step = 1;
    unless input.filter
      - input.filter = '';
    unless input.showValues
      - input.showValues = true;
    br
    div(range-slider show-values=input.showValues step=input.step filter=input.filter prevent-equal-min-max=input.preventValues min=input.min max=input.max model-min="#{ngModel}.min" model-max="#{ngModel}.max" append=append)
  else
    if input.group
      .input-group(append=hideAppend)
        input(type=input.type class=input.style['class'] name=input.name id=input.id append=append)
        span.input-group-addon=input.group.value
    else if input.typeahead
      input(type=input.type class=input.style['class'] name=input.name id=input.id typeahead=input.typeahead.query append=append ng-cloak ng-hide="#{input.readonly}")
    else if input.type === 'color-picker'
      div
        input(type=input.type class=input.style['class'] name=input.name id=input.id minicolors append=append ng-cloak ng-hide="#{input.readonly}")
    else
      input(type=input.type class=input.style['class'] name=input.name id=input.id append=append ng-cloak ng-hide="#{input.readonly}")
  if input.validate && input.validate.message 
    span(class="label label-danger" ng-cloak ng-if="#{formName}.#{input.name}.$error.validator")=__(input.validate.message)
  if input.readonly && input.type !== 'star-rating'
    div(append=showAppend)
      if input.items
        span {{#{ngModel}.#{input.items.label}}}
      else
        span {{#{ngModel}}}
  if input.button
    unless input.button.type
      - input.button.type = 'button';
    unless input.button.style
      - input.button.style = {'class': 'btn-default'};
    unless input.button.on
      - input.button.on = {click: ''};
    unless input.button.show
      if input.show
        - input.button.show = input.show;
      else
        - input.button.show = ngModel;
    unless input.button.label
      - input.button.label = input.label;
    button.btn(type=input.button.type class=input.button.style['class'] ng-click=input.button.on.click ng-cloak ng-if=input.button.show)=__(input.button.label)
  if input.link
    unless input.link.style
      - input.link.style = {'class': 'btn-link'};
    unless input.link.href
      - input.link.href = '';
    unless input.link.target
      - input.link.target = '';
    unless input.link.on
      - input.link.on = {click: ''};
    unless input.link.show
      if input.show
        - input.link.show = input.show;
      else
      - input.link.show = ngModel;
    unless input.link.label
      - input.link.label = input.label;
    a.btn(class=input.link.style['class'] href=input.link.href target=input.link.target ng-click=input.link.on.click ng-cloak ng-if=input.link.show)=__(input.link.label)
