extends layouts/manager

block content
  - var controller = page.controller.name ? page.controller.name + 'Controller' : page.controller + 'Controller';
  div(ng-controller=controller)
    if page.item
      #item-id.hide=page.item.id + (page.item.populate ? ':true' : '')
    if page.inputs
      unless page.submit
        - page.submit='submit()'
      form(name="form" role="form" ng-submit=page.submit submitted="vulpejs.ui.form.submitted" novalidate shake-that)
        div.panel.panel-default.box-shadow
          div.panel-heading=__(page.title)
          div.panel-body.slide-down
            if page.actions
              |!{page.htmlActions}
            else
              include includes/main/simple-actions
            each input in page.inputs
              include includes/main/input

    if page.main
      unless page.main.submit
        - page.main.submit='vulpejs.model.save()'
      unless page.main.form
        - page.main.form={enctype:'application/x-www-form-urlencoded'};
      form(name="mainForm" role="form" enctype=page.main.form.enctype ng-submit=page.main.submit submitted="vulpejs.ui.form.submitted" novalidate shake-that)
        .panel.panel-default(ng-class="{'box-shadow':vulpejs.ui.showing}")
          .panel-heading
            .row
              .col-lg-6=__(page.main.title)
              .col-lg-6
                include includes/main/view-actions
          .panel-body.slide-down(ng-cloak ng-show="vulpejs.ui.showing")
            .row
              .col-lg-12
                if page.main.actions
                  |!{page.main.htmlActions}
                else
                  include includes/main/actions
                if page.main.tabs
                  tabset
                    each tab in page.main.tabs
                      - var select = "";
                      unless tab.focus
                        - select = "vulpejs.ui.tab.focus('" + tab.focus + "')";
                      tab(heading=__(tab.title) select=select)
                        each input in tab.inputs
                          include includes/main/input
                else
                  each input in page.main.inputs
                    include includes/main/input

    if page.select
      .panel.panel-default(ng-class="{'box-shadow':!vulpejs.ui.showing}")
        .panel-heading
          .row
            .col-lg-6=__(page.select.title)
            .col-lg-6
              if page.select.viewActions
                |!{page.select.htmlViewActions}
              else
                include includes/select/view-actions
        .panel-body.slide-down(ng-hide="vulpejs.ui.showing")
          .row
            .col-lg-12
              table.table.table-striped.table-bordered.table-hover
                include includes/select/table
              include includes/select/paginate

    script(type="text/javascript").
      vulpe.view.inputs();
  include includes/script
