extends layouts/login

block content
  .login-container(ng-controller="LoginController")
    form.form-signin(name="form" role="form" ng-submit="vulpejs.login()" method="post" autocomplete="off" novalidate shake-that submitted="submitted")
      .panel.panel-default.box-shadow
        .panel-heading
          .row
            .col-lg-12=__('Access Control')
        .panel-body
          .form-group(ng-class="{'has-error': form.username.$invalid && submitted}")
            input#login-username.form-control(type="email" name="username" ng-model="user.username" placeholder=__("Email") required autofocus)
          .form-group(ng-class="{'has-error': form.password.$invalid && submitted}")
            input#login-password.form-control(type="password" name="password" ng-model="user.password" placeholder=__("Password") required)
          label.checkbox
            input(type="checkbox" id="rememberMe" name="rememberMe" value="true" ng-model="user.rememberMe")
            =__("Remember me")
          input(type="submit" class="btn btn-lg btn-primary btn-block" value=__('Sign In'))
          input(type="button" class="btn btn-lg btn-default btn-block" value=__('I forgot my Password') ng-click="forgotPassword()")
  include includes/script
