extends layouts/site

block content
  div.container(ng-controller="#{ui.controller}Controller")
    form(name="resetPasswordForm" role="form" ng-submit='reset()' submitted="submitted" novalidate shake-that)
      div.panel.panel-default.box-shadow
        div.panel-heading=__('Reset Password')
        div.panel-body
          input(type="hidden" name="token" id="token" value="#{id}")
          input(type="hidden" name="email" id="email" value="#{email}")
          fieldset(ng-hide="changed")
            div.form-group(ng-class="{'has-error': resetPasswordForm.password.$invalid && submitted}")
              label(for="userPassword")=__('Password')
              input.form-control(type="password", name="password", id="userPassword", placeholder=__('Password'), ng-model="vulpejs.item.password" required)
            div.form-group(ng-class="{'has-error': resetPasswordForm.confirmPassword.$invalid && submitted}")
              label(for="userPasswordConfirm")=__('Password Confirm')
              input.form-control(type="password", name="passwordConfirm", id="userPasswordConfirm", placeholder=__('Password Confirm'), ng-model="vulpejs.item.passwordConfirm", data-match="vulpejs.item.password" required)
            div.form-group.message-match.message-block(ng-show="resetPasswordForm.$error", style="display:none")
              span.label.label-danger(ng-show="resetPasswordForm.passwordConfirm.$error.match")=__('Password do not match')
            button.btn.btn-primary.btn-lg.btn-block(type="submit")=__('Reset Password')
            div.form-group.ng-hide(ng-hide="!error")
              h1=__('Oops! I\'m sorry, but an error occurred while changing your password.')
                br
                small(ng-hide="already")=__('Please try again in a few moments.')
          fieldset(ng-cloak ng-hide="!changed")
            div.form-group
              h1=__('Your password has been successfully changed!')
  include includes/script
