extends layouts/manager

block content
 div(ng-controller="UserPasswordController")
  div.panel.panel-default
   div.panel-heading=__('Password Change')
   div.panel-body
    form(name="form", role="form", ng-submit='change()', submitted="submitted", novalidate shake-that)
     include includes/actions/simple
     div.form-group
      label(for="userEmail")=__('Email')              
      input.form-control(type="email", name="email", id="userEmail", placeholder=__('Email'), ng-model="item.email", ng-readonly="item._id" required)
     div.form-group
      label(for="userName")=__('Name')              
      input.form-control(type="text", name="name", id="userName" placeholder=__('Name'), ng-model="item.name", ng-readonly="item._id" capitalize-first required)
     div.form-group(ng-class="{'has-error': form.password.$invalid && submitted}")
      label(for="userPassword")=__('Password')
      input.form-control(type="password", name="password", id="userPassword", placeholder=__('Password'), ng-model="item.password", required autofocus)
     div.form-group(ng-class="{'has-error': form.passwordConfirm.$invalid && submitted}")
      label(for="userPasswordConfirm")=__('Password Confirm')
      input.form-control(type="password", name="passwordConfirm", id="userPasswordConfirm", placeholder=__('Password Confirm'), ng-model="item.passwordConfirm", ui-validate="'$value == item.password'" ui-validate-watch="'item.password'" required)
      span.label.label-danger(ng-cloak ng-show="form.passwordConfirm.$error.validator")=__('Password do not match')
 include includes/script
