unless page.select.filter
  - page.select.filter = {filter:{search:{colspan:1}, status : {colspan:1, items:[]}}};
unless page.select.items
  - page.select.items = [];
unless page.select.actions
  - page.select.actions = [];
thead
  tr
    td(colspan=(page.select.filter.search.colspan + 1))
      input(type="text" name="search" class="form-control" placeholder=__('Search') ng-model="search")
    td(colspan=page.select.filter.status.colspan)
      select(name="status" class="form-control" ng-model="vulpejs.filter.status" ng-change="vulpejs.model.list()")
        option(value='')=__('Select a Status')
        if page.select.filter.status.items
          each item in page.select.filter.status.items
            option(value=item.value)=__(item.label)
  tr
    th=__('Line')
    each item in page.select.items
      if item.width
        - var style = 'width: ' + item.width + ';'
        th(style=style)=__(item.label)
tbody
  tr.slide-down(ng-cloak ng-if="vulpejs.items.length === 0")
    td(colspan=(page.select.filter.search.colspan + 1 + page.select.filter.status.colspan))=__('Empty')
  if page.select.detail
    tr.click.slide-down(dir-paginate-start="selectItem in vulpejs.items | filter:search | itemsPerPage: vulpejs.ui.pagination.size | orderBy:vulpejs.predicate:reverse" total-items="vulpejs.ui.pagination.totalItems" pagination-id="items")
      include items
    tr.scale-fade(dir-paginate-end ng-cloak ng-if="click && detail === selectItem._id")
      include detail
  else
    tr.click.slide-down(dir-paginate="selectItem in vulpejs.items | filter:search | itemsPerPage: vulpejs.ui.pagination.size | orderBy:vulpejs.predicate:reverse" total-items="vulpejs.ui.pagination.totalItems" pagination-id="items")
      include items
//- tfoot(ng-cloak ng-if="vulpejs.ui.pagination.totalPages > 1")
//-   tr
//-     td(colspan="99")
//-       include paginate
