extends layouts/auth

block contents
  .container(ng-controller="AuthController")
    .panel.panel-default.box-shadow
      .panel-heading
        .row
          .col-sm-12.col-md-12.col-lg-12=__('Successfully logged in!')
      .panel-body
        .row
          .col-sm-12.col-md-12.col-lg-12
            h5=__('Wait, redirecting...')
    #auth-user.hide=JSON.stringify(user)
    #auth-redirect.hide=redirectTo
    if params
      #auth-params.hide=JSON.stringify(params)
    if query
      #auth-query.hide=JSON.stringify(query)
