block content
  - var controller = ui.controller.name ? ui.controller.name + 'Controller' : ui.controller + 'Controller';
  div(ng-controller=controller)
    if ui.item
      #item-id.hide=ui.item.id + (ui.item.populate ? ':true' : '')
    if ui.inputs
      unless ui.submit
        - ui.submit='submit()';
      form(name="mainForm" role="form" ng-submit=ui.submit submitted="vulpejs.ui.form.main.submitted" novalidate shake-that ng-init="vulpejs.ui.forms.main={}")
        .panel.panel-default.box-shadow
          .panel-heading=__(ui.title)
          .panel-body.slide-down
            if ui.actions
              |!{ui.htmlActions}
            else
              include includes/main/simple-actions
            each input in ui.inputs
              include includes/main/input

    if ui.main
      unless ui.main.submit
        - ui.main.submit='vulpejs.model.save()';
      unless ui.main.form
        - ui.main.form={enctype:'application/x-www-form-urlencoded'};
      form(name="mainForm" role="form" enctype=ui.main.form.enctype ng-submit=ui.main.submit submitted="vulpejs.ui.form.main.submitted" novalidate shake-that ng-init="vulpejs.ui.forms.main={}")
        .panel.panel-default(ng-class="{'box-shadow':vulpejs.ui.showing}")
          .panel-heading
            .row
              .col-lg-6=__(ui.main.title)
              .col-lg-6
                include includes/main/view-actions
          .panel-body.slide-down(ng-cloak ng-show="vulpejs.ui.showing")
            .row
              .col-sm-12.col-md-12.col-lg-12
                if ui.main.actions
                  |!{ui.main.htmlActions}
                else
                  include includes/main/actions
                if ui.main.tabs
                  tabset
                    each tab in ui.main.tabs
                      - var select = "";
                      unless tab.focus
                        - select = "vulpejs.ui.tab.focus('" + tab.focus + "')";
                      tab(heading=__(tab.title) select=select)
                        each input in tab.inputs
                          include includes/main/input
                else
                  each input in ui.main.inputs
                    include includes/main/input

    if ui.select
      unless ui.select.submit
        - ui.select.submit='vulpejs.model.search.doit()';
      form(name="itemsForm" role="form" ng-submit=ui.select.submit submitted="vulpejs.ui.form.items.submitted" novalidate shake-that ng-init="vulpejs.ui.forms.items={}")
        .panel.panel-default(ng-class="{'box-shadow':!vulpejs.ui.showing}")
          .panel-heading
            .row
              .col-lg-6=__(ui.select.title)
              .col-lg-6
                if ui.select.viewActions
                  |!{ui.select.htmlViewActions}
                else
                  include includes/select/view-actions
          .panel-body.slide-down(ng-hide="vulpejs.ui.showing")
            .row
              .col-sm-12.col-md-12.col-lg-12
                table.table.table-striped.table-bordered.table-hover
                  include includes/select/table
                include includes/select/paginate
