link(rel="stylesheet" href="/stylesheets/01-bootstrap.min.css")
if ui.modules.datetimePicker
  link(rel="stylesheet" href="/stylesheets/02-bootstrap-datetimepicker.min.css")
link(rel="stylesheet" href="/stylesheets/02-bootstrap-dropdowns-enhancement.min.css")
link(rel="stylesheet" href="/stylesheets/01-font-awesome.min.css")
link(rel="stylesheet" href="/stylesheets/01-angular-loading-bar.min.css")
link(rel="stylesheet" href="/stylesheets/01-jquery.metis-menu.min.css")
if ui.modules.colorPicker
  link(rel="stylesheet" href="/stylesheets/01-jquery.minicolors.min.css")
if ui.modules.editor
  link(rel="stylesheet" href="/stylesheets/01-angular-text-editor.min.css")
if ui.modules.switch
  link(rel="stylesheet" href="/stylesheets/01-angular-toggle-switch.min.css")
if ui.modules.uploader.blueimp
  link(rel="stylesheet" href="/stylesheets/02-blueimp-gallery.min.css")
  link(rel="stylesheet" href="/stylesheets/02-jquery.fileupload.min.css")
  link(rel="stylesheet" href="/stylesheets/02-jquery.fileupload-ui.min.css")
if ui.modules.tree
  link(rel="stylesheet" href="/stylesheets/01-angular-ui-tree.min.css")
if ui.modules.chart
  link(rel="stylesheet" href="/stylesheets/01-angular-chart.min.css")
  link(rel="stylesheet" href="/stylesheets/01-morris.min.css")
if ui.modules.multiSelect
  link(rel="stylesheet" href="/stylesheets/02-angular-isteven-multi-select.min.css")
if ui.modules.rangeSlider
  link(rel="stylesheet" href="/stylesheets/02-angular-range-slider.min.css")
link(rel="stylesheet" href="/stylesheets/02-angular-dialogs.min.css")
link(rel="stylesheet" href=`/stylesheets/02-vulpe-animation${minifier}.css`)
link(rel="stylesheet" href=`/stylesheets/02-vulpe${minifier}.css`)
link(rel="stylesheet" href=`/stylesheets/app${minifier}.css`)
if ui.manager
  link(rel="stylesheet" href=`/stylesheets/03-manager${minifier}.css`)
if ui.site
  link(rel="stylesheet" href=`/stylesheets/03-site${minifier}.css`)
if ui.login
  link(rel="stylesheet" href=`/stylesheets/03-login${minifier}.css`)
if ui.error
  link(rel="stylesheet" href=`/stylesheets/03-error${minifier}.css`)
include ../../../../../../../views/includes/stylesheets
script(charset="utf-8" src="/javascripts/external/01-require.min.js" type="text/javascript")
script(charset="utf-8" src="/javascripts/external/01-moment.min.js" type="text/javascript")
script(charset="utf-8" src="/javascripts/external/02-moment-timezone.min.js" type="text/javascript")
script(charset="utf-8" src="/javascripts/external/04-humanize-duration.min.js" type="text/javascript")
script(charset="utf-8" src="/javascripts/external/01-async.min.js" type="text/javascript")
script(charset="utf-8" src="/javascripts/external/01-jquery.min.js" type="text/javascript")
script(charset="utf-8" src="/javascripts/external/02-jquery.cookie.min.js" type="text/javascript")
script(charset="utf-8" src="/javascripts/external/02-jquery.hotkeys.min.js" type="text/javascript")
script(charset="utf-8" src="/javascripts/external/02-jquery.metis-menu.min.js" type="text/javascript")
script(charset="utf-8" src="/javascripts/external/02-jquery.placeholder.min.js" type="text/javascript")
if ui.modules.colorPicker
  script(charset="utf-8" src="/javascripts/external/02-jquery.minicolors.min.js" type="text/javascript")
if ui.modules.uploader.blueimp
  script(charset="utf-8" src="/javascripts/external/02-jquery.ui.widget.js" type="text/javascript")
  script(charset="utf-8" src="/javascripts/external/02-load-image.all.min.js" type="text/javascript")
  script(charset="utf-8" src="/javascripts/external/03-canvas-to-blob.min.js" type="text/javascript")
  script(charset="utf-8" src="/javascripts/external/04-jquery.blueimp-gallery.min.js" type="text/javascript")
  script(charset="utf-8" src="/javascripts/external/03-jquery.iframe-transport.min.js" type="text/javascript")
  script(charset="utf-8" src="/javascripts/external/04-jquery.fileupload.min.js" type="text/javascript")
  script(charset="utf-8" src="/javascripts/external/05-jquery.fileupload-process.min.js" type="text/javascript")
  script(charset="utf-8" src="/javascripts/external/06-jquery.fileupload-image.min.js" type="text/javascript")
  script(charset="utf-8" src="/javascripts/external/06-jquery.fileupload-audio.min.js" type="text/javascript")
  script(charset="utf-8" src="/javascripts/external/06-jquery.fileupload-video.min.js" type="text/javascript")
  script(charset="utf-8" src="/javascripts/external/06-jquery.fileupload-validate.min.js" type="text/javascript")
script(charset="utf-8" src="/javascripts/external/03-bootstrap.min.js" type="text/javascript")
if ui.modules.datetimePicker
  script(charset="utf-8" src="/javascripts/external/04-bootstrap-datetimepicker.min.js" type="text/javascript")
script(charset="utf-8" src="/javascripts/external/03-angular-bootstrap-hover-dropdown.min.js" type="text/javascript")
script(charset="utf-8" src="/javascripts/external/04-bootstrap-dropdowns-enhancement.min.js" type="text/javascript")
script(charset="utf-8" src="/javascripts/external/01-angular.min.js" type="text/javascript")
script(charset="utf-8" src="/javascripts/external/02-angular-animate.min.js" type="text/javascript")
script(charset="utf-8" src="/javascripts/external/02-angular-cookies.min.js" type="text/javascript")
script(charset="utf-8" src="/javascripts/external/02-angular-resource.min.js" type="text/javascript")
script(charset="utf-8" src="/javascripts/external/02-angular-sanitize.min.js" type="text/javascript")
script(charset="utf-8" src="/javascripts/external/03-angular-timer.min.js" type="text/javascript")
script(charset="utf-8" src="/javascripts/external/03-angular-i18n-node.min.js" type="text/javascript")
script(charset="utf-8" src="/javascripts/external/03-angular-translate.min.js" type="text/javascript")
//- if ui.modules.uploader.flow
script(charset="utf-8" src="/javascripts/external/01-flow.min.js" type="text/javascript")
script(charset="utf-8" src="/javascripts/external/02-fusty-flow.min.js" type="text/javascript")
//- if ui.modules.uploader.flow
script(charset="utf-8" src="/javascripts/external/03-angular-flow-uploader.min.js" type="text/javascript")
if ui.modules.colorPicker
  script(charset="utf-8" src="/javascripts/external/03-angular-minicolors.min.js" type="text/javascript")
script(charset="utf-8" src="/javascripts/external/03-angular-masks.min.js" type="text/javascript")
if ui.modules.switch
  script(charset="utf-8" src="/javascripts/external/03-angular-toggle-switch.min.js" type="text/javascript")
script(charset="utf-8" src="/javascripts/external/03-angular-loading-bar.min.js" type="text/javascript")
script(charset="utf-8" src="/javascripts/external/03-angular-dir-pagination.min.js" type="text/javascript")
if ui.modules.chart
  script(charset="utf-8" src="/javascripts/external/03-chart.min.js")
  script(charset="utf-8" src="/javascripts/external/03-raphael.min.js")
  script(charset="utf-8" src="/javascripts/external/04-morris.min.js")
  script(charset="utf-8" src="/javascripts/external/04-angular-chart.min.js" type="text/javascript")
  script(charset="utf-8" src="/javascripts/external/05-angular-morris-chart.min.js" type="text/javascript")
if ui.modules.editor
  script(charset="utf-8" src="/javascripts/external/03-angular-text-editor.min.js" type="text/javascript")
  script(charset="utf-8" src="/javascripts/external/04-angular-text-editor-rangy.min.js" type="text/javascript")
  script(charset="utf-8" src="/javascripts/external/04-angular-text-editor-sanitize.min.js" type="text/javascript")
if ui.modules.tree
  script(charset="utf-8" src="/javascripts/external/03-angular-ui-tree.min.js" type="text/javascript")
if ui.modules.multiSelect
  script(charset="utf-8" src="/javascripts/external/03-angular-isteven-multi-select.min.js" type="text/javascript")
  script(charset="utf-8" src="/javascripts/external/03-angular-dropdown-multiselect.min.js" type="text/javascript")
if ui.modules.rangeSlider
  script(charset="utf-8" src="/javascripts/external/03-angular-range-slider.min.js" type="text/javascript")
if ui.modules.dragDrop
  script(charset="utf-8" src="/javascripts/external/03-angular-drag-and-drop-lists.min.js" type="text/javascript")
if ui.modules.recaptcha
  script(charset="utf-8" src="/javascripts/external/03-angular-recaptcha.min.js" type="text/javascript")
  script(charset="utf-8" src="http://www.google.com/recaptcha/api.js?render=explicit&onload=vcRecaptchaApiLoaded" async defer)
script(charset="utf-8" src="/javascripts/external/03-angular-ui-bootstrap-tpls.min.js" type="text/javascript")
script(charset="utf-8" src="/javascripts/external/03-angular-ui-utils.min.js" type="text/javascript")
script(charset="utf-8" src="/javascripts/external/03-angular-ui-router.min.js" type="text/javascript")
script(charset="utf-8" src="/javascripts/external/03-angular-dialogs.min.js" type="text/javascript")
if ui.modules.uploader.blueimp
  script(charset="utf-8" src="/javascripts/external/07-angular-jquery.fileupload.min.js" type="text/javascript")
script(charset="utf-8" src=`/javascripts/internal/01-directives${minifier}.js` type="text/javascript")
script(charset="utf-8" src=`/javascripts/internal/01-filters${minifier}.js` type="text/javascript")
script(charset="utf-8" src=`/javascripts/internal/01-services${minifier}.js` type="text/javascript")
script(charset="utf-8" src=`/javascripts/internal/02-controllers${minifier}.js` type="text/javascript")
script(charset="utf-8" src=`/javascripts/internal/02-vulpe${minifier}.js` type="text/javascript")
script(charset="utf-8" src=`/javascripts/app${minifier}.js` type="text/javascript")
//- script(charset="utf-8" src=`/javascripts/all-internal.min.js` type="text/javascript")
script(charset="utf-8" src=`/javascripts/all-auto${minifier}.js` type="text/javascript")
if ui.modules.uploader.blueimp
  script(charset="utf-8" src="/javascripts/external/06-jquery.postmessage-transport.js")
  <!--[if (gte IE 8)&(lt IE 10)]>
  <script charset="utf-8" src="/javascripts/external/06-jquery.xdr-transport.min.js"></script>
  <![endif]-->
