- var minifier = "";
if ui.minifier
  - minifier = ".min";
- var title = "AppName";
if ui.site
  - title = "SiteName";
unless ui.modules
  - ui.modules = {uploader: {}};
unless ui.modules.uploader
  - ui.modules.uploader = {};
- var localex = i18n.getLocale();
head
  meta(http-equiv="X-UA-Compatible" content="IE=edge")
  meta(name="viewport" content="width=device-width user-scalable=no")
  meta(charset="utf8")
  base(href="/")
  title=__(title)
  link(rel="stylesheet" href="/stylesheets/all.min.css")
  if ui.manager
    link(rel="stylesheet" href="/stylesheets/manager#{minifier}.css")
  if ui.site
    link(rel="stylesheet" href="/stylesheets/site#{minifier}.css")
  if ui.login
    link(rel="stylesheet" href="/stylesheets/login#{minifier}.css")
  if ui.error
    link(rel="stylesheet" href="/stylesheets/error#{minifier}.css")
  include ../../../../../../../views/includes/stylesheets
  script(charset="utf-8" src="/javascripts/all.min.js" type="text/javascript")
  if ui.modules.recaptcha
    script(charset="utf-8" src="http://www.google.com/recaptcha/api.js?render=explicit&onload=vcRecaptchaApiLoaded" async defer)
  include ../../../../../../../views/includes/javascripts
  include ../modules
  include ../../../../../../../views/includes/modules
