td(colspan=(ui.select.filter.search.colspan + 1 + ui.select.filter.status.colspan))
  table(style="width: 100%")
    tr
      each item in ui.select.detail
        - var style = '';
        if item.style && typeof item.style === 'string'
          - style = item.style;
        unless item.style
          - item.style = {};
        if item.style.width
         - style = 'width: ' + item.style.width + ';';
        th(style=style)=__(item.label)
    tr
      each item in ui.select.detail
        unless item.style
          - item.style = '';
        unless item.css
          - item.css = {'class': ''};
        unless item.css['class']
          - item.css['class'] = '';
        td(class=item.css['class'] style=item.style)
          if item.filter
            |{{item.#{item.name}|#{item.filter}}}
          else if item.i18n
            |{{item.#{item.name}|i18n}}
          else
            |{{item.#{item.name}}}
