- var tooltip = ui.select.detail ? __('Click to expand/collapse') : '';
td.text-center
  |{{$index + 1}}
unless ui.select.pk
  - ui.select.pk = '_id';
each item in ui.select.items
  if item.name || item.details
    - var click = "vulpejs.now[item._id]=!vulpejs.now[item._id];";
    unless ui.select.detail
      - click = "vulpejs.model.find(item." + ui.select.pk + ");";
    unless item.css
      - item.css = {};
    td(class=item.css['class'] ng-click=click)
      div(tooltip=tooltip)
        if item.details
          each detail in item.details
            unless detail.css
            - detail.css = {'class': 'col-lg-3'};
            unless detail.css['class']
              - detail.css['class'] = 'col-lg-3';
            div(class=detail.css['class'])
              if detail.label
                label.text-space-right=__(detail.label)
              if detail.value
                br
                span
                  if detail.filter
                    |{{item.#{detail.value}|#{detail.filter}}}
                  else if detail.i18n
                    |{{item.#{detail.value}|i18n}}
                  else
                    span(ng-bind-html="item.#{detail.value}")
        else
          if !item.images && !item.switch
            if item.filter
              |{{item.#{item.name}|#{item.filter}}}
            else if item.i18n
              |{{item.#{item.name}|i18n}}
            else
              |{{item.#{item.name}}}
          if item.images
            each image in item.images
              unless image.title
                - image.title = '';
              img(src="/images/#{image.name}" ng-cloak ng-if=image.show title=__(image.title))
              if item.showTitle
                span(ng-cloak ng-if=image.show)
                  br
                  span=__(image.title)
          if item.switch
            div(ng-switch="item.#{item.name}")
              each iswitch in item.switch
                unless iswitch.title
                  - iswitch.title = '';
                div(ng-cloak ng-switch-when=iswitch.when)
                  if iswitch.image
                    img(src="/images/#{iswitch.image}" title=__(iswitch.title))
                  if item.showTitle
                    br
                    span=__(iswitch.title)
td.text-center
  if typeof ui.select.actions === 'string'
    |!{ui.select.htmlActions}
  else
    include item-actions
      each action in ui.select.actions
        unless action.css
          - action.css = {'class': ''};
        unless action.css['class']
          - action.css['class'] = '';
        unless action.show
          - action.show = '';
        span=action.css['class']
        li(class=action.css['class'] ng-cloak ng-if=action.show)
          if action.link
            unless action.link.click
              - action.link.click = ''
            unless action.link.href
              - action.link.href = ''
            a(href=action.link.href ng-click=action.link.click)
              i(class="fa #{action.link.icon} fa-fw")
              =__(action.link.label)
