td(colspan=(ui.select.filter.search.colspan + 1 + ui.select.filter.status.colspan))
  table(style="width: 100%")
    tr
      each headerItem in ui.select.detail
        - var style = '';
        if headerItem.style && typeof headerItem.style === 'string'
          - style = headerItem.style;
        unless headerItem.style
          - headerItem.style = {};
        if headerItem.style.width
         - style = 'width: ' + headerItem.style.width + ';';
        th(style=style)=__(headerItem.label)
    tr
      each bodyItem in ui.select.detail
        - var style = '';
        if bodyItem.style && typeof bodyItem.style === 'string'
          - style = bodyItem.style;
        unless bodyItem.css
          - bodyItem.css = {'class': ''};
        unless bodyItem.css['class']
          - bodyItem.css['class'] = '';
        td(class=bodyItem.css['class'] style=style)
          if bodyItem.filter
            |{{item.#{bodyItem.name}|#{bodyItem.filter}}}
          else if bodyItem.i18n
            |{{item.#{bodyItem.name}|i18n}}
          else
            |{{item.#{bodyItem.name}}}
