unless ui.select.filter
  - ui.select.filter = {filter:{search:{colspan:1}, status : {colspan:1, items:[]}}};
unless ui.select.items
  - ui.select.items = [];
unless ui.select.actions
  - ui.select.actions = [];
thead
  tr
    if typeof ui.select.filter === 'string'
      td(colspan="99")
        |!{ui.select.htmlFilter}
    else
      td(colspan=(ui.select.filter.search.colspan + 1))
        input(type="text" name="search" class="form-control" placeholder=__('Search') ng-model="search")
      td(colspan=ui.select.filter.status.colspan)
        select(name="status" class="form-control" ng-model="vulpejs.filter.status" ng-change="vulpejs.model.list()")
          option(value='')=__('Select a Status')
          if ui.select.filter.status.items
            each item in ui.select.filter.status.items
              option(value=item.value)=__(item.label)
  tr
    th=__('#')
    each item in ui.select.items
      - var style = '';
      if item.style && typeof item.style === 'string'
        - style = item.style;
      unless item.style
        - item.style = {};
      if item.style.width
        - style = 'width: ' + item.style.width + ';'
      th(style=style)=__(item.label)
tbody
  tr.slide-down(ng-cloak ng-if="vulpejs.items.length === 0")
    td(colspan=(typeof ui.select.filter === 'string' ? 99 : ui.select.filter.search.colspan + 1 + ui.select.filter.status.colspan))=__('Empty')
  if ui.select.detail
    tr.click.slide-down(dir-paginate-start="item in vulpejs.items | filter:search | itemsPerPage: vulpejs.ui.pagination.size | orderBy:vulpejs.predicate:reverse" total-items="vulpejs.ui.pagination.totalItems" pagination-id="items")
      include items
    tr.scale-fade(dir-paginate-end ng-cloak ng-if="click && detail === item._id")
      include detail
  else
    tr.click.slide-down(dir-paginate="item in vulpejs.items | filter:search | itemsPerPage: vulpejs.ui.pagination.size | orderBy:vulpejs.predicate:reverse" total-items="vulpejs.ui.pagination.totalItems" pagination-id="items")
      include items
//- tfoot(ng-cloak ng-if="vulpejs.ui.pagination.totalPages > 1")
//-   tr
//-     td(colspan="99")
//-       include paginate
