#main-default-actions.row(data-spy="affix" data-offset-top="90")
  .col-lg-12
    .btn-group.pull-right
      if ui.uriback
        a.btn.btn-default(href=ui.uriback tooltip-placement="bottom" tooltip-append-to-body="true" tooltip=__('Click to go back'))
          i.fa.fa-chevron-left.fa-fw
          span.hidden-xs.hidden-sm.hidden-md=__('Back')
      else
        a.btn.btn-default(ng-click="vulpejs.model.cancel(); vulpejs.ui.form.submitted = false" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip=__('Click to go back'))
          i.fa.fa-chevron-left.fa-fw
          span.hidden-xs.hidden-sm.hidden-md=__('Back')
      a#new-action-button.btn.btn-default(ng-click="vulpejs.model.create(); vulpejs.ui.form.submitted = false" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip=__('Click to add new'))
        i.fa.fa-plus.fa-fw
        span.hidden-xs.hidden-sm.hidden-md=__('New')
      a#delete-action-button.btn.btn-default(ng-click="vulpejs.model.remove(vulpejs.item._id); vulpejs.ui.form.submitted = false" ng-clock ng-if="vulpejs.item._id" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip=__('Click to delete'))
        i.fa.fa-trash-o.fa-fw
        span.hidden-xs.hidden-sm.hidden-md=__('Delete')
      a#clone-action-button.btn.btn-default(ng-click="vulpejs.model.clone(vulpejs.item); vulpejs.ui.form.submitted = false" ng-clock ng-if="vulpejs.item._id" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip=__('Click to clone'))
        i.fa.fa-magic.fa-fw
        span.hidden-xs.hidden-sm.hidden-md=__('Clone')
      button.btn.btn-default(type="submit" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip=__('Click to save'))
        i.fa.fa-save.fa-fw
        span.hidden-xs.hidden-sm.hidden-md=__('Save')
      a.btn.btn-default.dropdown-toggle(data-toggle="dropdown" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip=__('Click to expand/collapse'))
        span.caret
      ul.dropdown-menu
        li
          button.btn.btn-link(type="submit" ng-click="vulpejs.model.save('NEW')" tooltip-placement="left" tooltip-append-to-body="true" tooltip=__('Click to save and add new'))
            i.fa.fa-plus.fa-fw
            =__('Save & New')
        li
          button.btn.btn-link(type="submit" ng-click="vulpejs.model.save('CLOSE')" tooltip-placement="left" tooltip-append-to-body="true" tooltip=__('Click to save and back'))
            i.fa.fa-chevron-left.fa-fw
            =__('Save & Back')
hr
