if ui.login
  ul.nav.navbar-nav
    li#home
      a(href="/")=__('Home')
    li#login
      a(href="/login")=__('Login')
  include /views/includes/layout/language
if ui.manager
  include /views/includes/layout/language
  ul.nav.navbar-nav
    li#dashboard
      a(href="/")=__('Dashboard')
    li#manager.dropdown(ng-cloak ng-show="vulpejs.auth.user.is(['SUPER','ADMIN'])")
      a.dropdown-toggle(href="#" data-toggle="dropdown" data-hover="dropdown")=__('Manager')
        b.caret
      ul.dropdown-menu
        li
          a(href="/user" tooltip-placement="right" tooltip-append-to-body="true" tooltip=__('Go to Users'))=__('Users')
  ul.nav.navbar-nav.navbar-right
    li.dropdown
      a.dropdown-toggle(href="#" data-toggle="dropdown" data-hover="dropdown")
        i.fa.fa-user.fa-fw
        =__('Welcome, %s', '{{vulpejs.auth.user.name}}')
        b.caret
      ul.dropdown-menu
        li
          a(href="/password" tooltip-placement="left" tooltip-append-to-body="true" tooltip=__('Click to Change Password'))
            i.fa.fa-asterisk.fa-fw
            =__('Password Change')
        li.divider
        li
          a(href="" ng-click="logout()" ng-controller="LogoutController" tooltip-placement="left" tooltip-append-to-body="true" tooltip=__('Click to Logout'))
            i.fa.fa-power-off.fa-fw
            =__('Logout')
if ui.site
  nav.navbar.navbar-default.navbar-fixed-top(role="navigation")
    .navbar-header
      button.navbar-toggle(type="button" data-toggle="collapse" data-target="#app-navbar")
        span.sr-only=__('Toggle navigation')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href="/")=__(title)
        include /views/includes/layout/release
    #app-navbar.collapse.navbar-collapse
      if ui.error
        ul.nav.navbar-nav
          li#home
            a(href="/")=__('Go to Home')
      include /views/includes/layout/language
      ul.nav.navbar-nav
        li#home.active
          a(href="/")=__('Home')
        li#dashboard(ng-cloak ng-if="vulpejs.auth.user")
          a(href="/dashboard")=__('Dashboard')
        li#login(ng-cloak ng-if="!vulpejs.auth.user")
          a(href="/login")=__('Login')
