unless page.flowUploader
  - page.flowUploader = {init: '', fileSuccess: '', filesSubmit: 'flowFilesSubmit($flow)'};
unless page.flowUploader.init
  - page.flowUploader.init = ''
unless page.flowUploader.fileSuccess
  - page.flowUploader.fileSuccess = ''
unless page.flowUploader.filesSubmit
  - page.flowUploader.filesSubmit = ''
.well(flow-init="#{page.flowUploader.init}" flow-files-submitted="#{page.flowUploader.filesSubmit}" flow-file-success="#{page.flowUploader.fileSuccess}")
  div
    span.btn.btn-primary.btn-sm.slide-down(flow-btn)=__('Add File')
  div
    div(ng-repeat="file in $flow.files" class="transfer-box")
      |{{file.relativePath}} ({{file.size}}bytes)
      div(class="progress progress-striped" ng-class="{active: file.isUploading()}")
        div(class="progress-bar" role="progressbar" aria-valuenow="{{file.progress() * 100}}" aria-valuemin="0" aria-valuemax="100" ng-style="{width: (file.progress() * 100) + '%'}")
          span(class="sr-only")=__('%s Complete', '{{file.progress()}}%')
      div.btn-group
        a(class="btn btn-xs btn-warning" ng-click="file.pause()" ng-show="!file.paused && file.isUploading()")=__('Pause')
        a(class="btn btn-xs btn-warning" ng-click="file.resume()" ng-show="file.paused")=__('Resume')
        a(class="btn btn-xs btn-danger" ng-click="file.cancel()")=__('Cancel')
        a(class="btn btn-xs btn-info" ng-click="file.retry()" ng-show="file.error")=__('Retry')
