unless filter
  - var filter = {search:{colspan:0}, status : {colspan:1, items:[]}}
tr
  td(colspan=filter.search.colspan)
    input(type="text", name="search", class="form-control", placeholder=__('Search'), ng-model="search")
  td(colspan=filter.status.colspan)
    select(name="status", class="form-control", ng-model="filter.status", ng-change="list()")
      option(value='')=__('Select one Status')
      if filter.status.items
        each item in filter.status.items
          option(value=item.value)=__(item.label)
